#!/bin/sh

# an arbitrary collection of input data

cat td.1 td.1 >foo.td
sed 's/^........................//' td.1 >>foo.td
pr -m td.1 td.1 td.1 >>foo.td
pr -2 td.1 >>foo.td
wc foo.td

td=foo.td
>footot

# idiots at sgi made time a shell builtin

for i in $*
do
	echo $i '(awk vs ../a.out)':
	ind <$i
	/bin/time awk -f $i $td >foo2 2>foo2t
	cat foo2t
	/bin/time ../a.out -f $i $td >foo1 2>foo1t
	cat foo1t
	cmp foo1 foo2
	echo $i: >>footot
	cat foo1t foo2t >>footot
done

ctimes footot
